:root {
  --color-primary: #dc5c7c;
  --color-primary-light: #f494bc;
  --color-primary-extralight: #e8acb9;
  --color-green: #c4dda1;
  --color-blue: #92c7ca;
  --color-gradient-top: #ce666c;
  --color-gradient-bottom: #f8e0af;

  --font-primary: "Urbane", sans-serif;
  --font-secondary: "Bello-pro", sans-serif;

  html {
    font-family: var(--font-primary);
  }
